---

import HeaderNavLink from "./HeaderNavLink.jsx"
// import ThemeSwitcher from "./ThemeSwitcher.astro";

---

<div class="navbar bg-base-200 hidden lg:block">
    <div class="navbar-start">
      <!-- <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><HeaderNavLink href="/" name="Home"/></li>
          <li><HeaderNavLink href="/discover_mma" name="Discover MMA"/></li>
          <li><HeaderNavLink href="/services" name="Services"/></li>
          <li><HeaderNavLink href="/tutors" name="Staff"/></li>
          <li><HeaderNavLink href="/resources" name="Resources"/></li>
          <li><HeaderNavLink href="/faqs" name="FAQs"/></li>
          <li><HeaderNavLink href="/get_in_touch" name="Get in touch"/></li>
          <li><HeaderNavLink href="/pricing" name="Pricing"/></li>
        </ul>
      </div> -->
      <a class="btn btn-ghost text-xl" href="/">Mind Muscles Aacademy</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      
      <!-- <ul class="menu menu-horizontal px-1">
        <li><HeaderNavLink href="/" name="Home"/></li>
        <li><HeaderNavLink href="/discover_mma" name="Discover MMA"/></li>
        <li><HeaderNavLink href="/services" name="Services"/></li>
        <li><HeaderNavLink href="/tutors" name="Staff"/></li>
        <li><HeaderNavLink href="/resources" name="Resources"/></li>
        <li><HeaderNavLink href="/faqs" name="FAQs"/></li>
        <li><HeaderNavLink href="/get_in_touch" name="Get in touch"/></li>
        <li><HeaderNavLink href="/pricing" name="Pricing"/></li>
      </ul> -->
    </div>
    <div class="navbar-end">
        <!-- <ThemeSwitcher /> -->
    </div>
  </div>