---
import Carousel from "./Carousel"
import CarouselItem from "./CarouselItem.astro"
import TutorCard from "./TutorCard.astro"
---

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Meet our subject Specialists</h2>
            <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
        </div>
            <Carousel>
                <CarouselItem>
                    <TutorCard
                        name="Bobby Green"
                        qualification="BMs from Stanford"
                        about="Bonnie drives the technical strategy of the flowbite platform and brand."
                        image="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
                        imageAlt="Bonnie Avatar"
                    />
                </CarouselItem>
                <CarouselItem>
                    <TutorCard
                       name="Bobby Green"
                       qualification="BMs from Stanford"
                       about="Bonnie drives the technical strategy of the flowbite platform and brand."
                       image="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
                       imageAlt="Bonnie Avatar"
                    />
                </CarouselItem>
                <CarouselItem>
                    <TutorCard
                        name="Bobby Green"
                        qualification="BMs from Stanford"
                        about="Bonnie drives the technical strategy of the flowbite platform and brand."
                        image="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
                        imageAlt="Bonnie Avatar"
                    />
                </CarouselItem>
            </Carousel>
        </div>
    </div>
</div>