---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section'
import PageHeading from '../components/PageHeading'
import H2 from '../components/H2'
import H2SubHeading from '../components/H2SubHeading'
const props = Astro.props;
---
<Layout title="General Counseling | Mind Muscles Academy">
<Section>
    <PageHeading >
        <H2 heading="Student Counseling"/>
        <H2SubHeading subheading="Support Mental Health"/>
    </PageHeading>
    <p class="py-4 px-4 md:px-20 lg:px-30">Welcome to Our Counseling Corner!</p>

    <p class="py-4 px-4 md:px-20 lg:px-30 ">Hey there, stressed-out student! Feeling overwhelmed by exams, relationships, or just life in general? Don't worry, we've got your back! Our counseling team is here to help you navigate through the highs and lows of student life.</p>
        
    <p class="py-4 px-4 md:px-20 lg:px-30">We know it's tough out there – balancing deadlines, social pressures, and maybe even a few existential crises along the way. But fear not! Our counselors are like the Gandalfs of the academic world, guiding you through the darkness with wisdom, empathy, and the occasional sprinkle of humor.</p>

    <p class="py-4 px-4 md:px-20 lg:px-30">Whether you're struggling with anxiety, battling procrastination demons, or simply need someone to listen, our door is always open (metaphorically speaking, of course – we do have actual doors, too). Think of us as your personal cheerleaders, therapists, and life coaches rolled into one – minus the pom-poms, couches, and awkward motivational speeches.</p>

    <p class="py-4 px-4 md:px-20 lg:px-30">So, if you're ready to conquer your inner dragons and unleash your full academic potential, drop by our counseling office or shoot us an email. Because remember, even superheroes need a little support sometimes. Let's slay those academic beasts together! 🚀</p>
</Section>
</Layout>