---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section'
import PageHeading from '../components/PageHeading';
import H2 from '../components/H2';
import H2SubHeading from '../components/H2SubHeading';
const props = Astro.props;
---
<Layout title="Past Papers | Mind Muscles Academy">
<Section>
    <PageHeading >
        <H2 heading="Past Papers"/>
        <H2SubHeading subheading=""/>
    </PageHeading>
</Section>
</Layout>