---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section"
import PageHeading from "../components/PageHeading"
import H2 from "../components/H2.jsx"
import H2SubHeading from "../components/H2SubHeading"
import FeaturesSection from "../components/FeaturesSection";
import FeatureItem from "../components/FeatureItem";
import {FeatureIcon1, FeatureIcon2, FeatureIcon3, FeatureIcon4, FeatureIcon5, FeatureIcon6, FeatureIcon7} from '../components/Icons.jsx';


---

<Layout title="Additional Resources">
    <Section>
        <div class="mx-auto max-w-screen-xl px-4 md:px-8">
          <!-- text - start -->
          <PageHeading>
            <H2 heading="Personalized Test Prep, Proven Results"/>
            <H2SubHeading subheading="Boost your scores with personalized test prep plans tailored to your needs"/>
          </PageHeading>
          <FeaturesSection title="">
            <FeatureItem
                title="Expert test prep tutors for SAT, IELTS, and TOEFL"
                para=""
                icon={FeatureIcon1}
            />
            <FeatureItem
                title="Personalized test prep plans for maximum results"
                para=""
                icon={FeatureIcon1}
            />
            <FeatureItem
                title="Comprehensive test prep programs for confidence and success"
                para=""
                icon={FeatureIcon2}
            />
            <FeatureItem
                title="Flexible scheduling to fit your needs"
                para=""
                icon={FeatureIcon3}
            />
        </FeaturesSection>
        </div>
    </Section>
</Layout>