---

import LinkButton from './LinkButton.astro';

---

  <div class="hero-content text-center flex-row">
    <div>
      <img src="/artwork1.svg" class="">
    </div>
    <div class="">
      <!-- <h1 class="text-6xl font-bold">Mind Muscles</h1>
      <h1 class="text-6xl font-bold">Academy</h1>
      <p class="py-4 text-2xl">Experience education tailored to your needs.</p> -->
      <!-- <LinkButton href="//tutors" name="Looking for a Tutor"/> -->
       <img src="/full-logo.svg" class="">
    </div>
    <div>
      <img src="/artwork2.svg" class="">
    </div>
  </div>