---
const props = Astro.props;
---

<label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">Qualifications</span>
    </div>
    <select class="select select-bordered">
      <option disabled selected>Select a Qualification</option>
      <option>Psychologist</option>
      <option>Therapist</option>
      <option>Phd</option>
    </select>
</label>