---
import Carousel from "./Carousel"
import CarouselItem from "./CarouselItem.astro";
import SubjectCard from "./SubjectCard";
// import {English, Math, Chemistry, Biology, Physics, Art, ComputerScience, Law, Psychology} from "./Icons"
const props = Astro.props;
---


<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
        <h2 class="mb-8 text-center text-2xl font-bold text-gray-800 md:mb-12 lg:text-3xl">What Others Say About Us</h2>
        <Carousel>
			<CarouselItem>
				<SubjectCard subject="English & Computer Science"/>
			</CarouselItem>
            <CarouselItem>
				<SubjectCard subject="English & Computer Science"/>
			</CarouselItem>
            <CarouselItem>
				<SubjectCard subject="English & Computer Science"/>
			</CarouselItem>
            <CarouselItem>
				<SubjectCard subject="English & Computer Science"/>
			</CarouselItem>
            <CarouselItem>
				<SubjectCard subject="English & Computer Science"/>
			</CarouselItem>
            <CarouselItem>
				<SubjectCard subject="English & Computer Science"/>
			</CarouselItem>
            <CarouselItem>
				<SubjectCard subject="English & Computer Science"/>
			</CarouselItem>
		</Carousel>
    </div>
</div>