---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section'
import FaqsQuestion from '../components/FaqsQuestion.astro';
import FaqsAnswer from '../components/FaqsAnswer.astro';
import FaqsBlock from '../components/FaqsBlock.astro';
---

<Layout title="Play some games to keep you rmind sharp.">
    <Section>
<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Frequently asked questions</h2>
  
        <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
      </div>
      <!-- text - end -->
  
      <div class="grid gap-8 sm:grid-cols-2 sm:gap-y-10 xl:grid-cols-3">
        <!-- question - start -->
        <FaqsBlock>
          <FaqsQuestion question="How does the product work?" />
          <FaqsAnswer answer=" This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text." />
        </FaqsBlock>
        <!-- question - end -->
  
        <!-- question - start -->
        <FaqsBlock>
          <FaqsQuestion question="What are the features?" />
          <FaqsAnswer answer="This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text." />
        </FaqsBlock>
        <!-- question - end -->
  
        <!-- question - start -->
        <FaqsBlock>
          <FaqsQuestion question="What about integrations?" />
          <FaqsAnswer answer="This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text." />
        </FaqsBlock>
        <!-- question - end -->
  
        <!-- question - start -->
        <FaqsBlock>
          <FaqsQuestion question="Is support available?" />
          <FaqsAnswer answer="This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text." />
        </FaqsBlock>
        <!-- question - end -->
  
        <!-- question - start -->
        <FaqsBlock>
          <FaqsQuestion question="How does one upgrage a plan?" />
          <FaqsAnswer answer="This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text." />
        </FaqsBlock>
        <!-- question - end -->
  
        <!-- question - start -->
        <FaqsBlock>
          <FaqsQuestion question="Which payment methods are available?" />
          <FaqsAnswer answer="This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text." />
        </FaqsBlock>
        <!-- question - end -->
      </div>
    </div>
  </div>  
    </Section>
</Layout>