---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section'
import TutorCard from '../components/TutorCard.astro';
import H2 from '../components/H2'
import SubjectSpecialistCard from '../components/SubjectSpecialistCard.astro';
import H2SubHeading from '../components/H2SubHeading';
import ServiceCard from '../components/ServiceCard';
import PageHeading from '../components/PageHeading'


---

<Layout title="Discover MMA ! Mind Muscles Academy">
    
    <Section>
            <!-- <PageHeading>
                <H2 heading="Resources"/>
                <H2SubHeading subheading="Why choose Mind Muscles Academy?"/>
            </PageHeading> -->
            
                <H2 heading="Resources"/>
                <H2SubHeading subheading="Conquer any subject (Grades 3-14) or slay the SATs/TOEFL/IELTS with our expert tutors."/>
                <div class="flex flex-row flex-wrap px-4 py-24 mx-auto max-w-7xl">
                    <ServiceCard
                        title="SUBJECT TUTORING"
                        description="This is filler text and, should be replaced by a short description"
                        href=""
                    />
                    <ServiceCard
                        title="HOME SHCOOLING"
                        description="This is filler text and, should be replaced by a short description"
                        href=""
                    />
                    <ServiceCard
                        title=""
                        description=""
                        href=""
                    />
                    <ServiceCard
                        title=""
                        description=""
                        href=""
                    />
                    <ServiceCard
                        title=""
                        description=""
                        href=""
                    />
                    <ServiceCard
                        title=""
                        description=""
                        href=""
                    />
                </div>          
    </Section>
</Layout>